:root {
    --primarycolor: #203E51;
    --fontcolor: #E7DED5;
    --testcolor: rgb(200, 200, 200);
    --colorstats: #00171F;
}


/* Definições gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fontcolor);
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--fontcolor);
}

/* body.no-scroll {
    overflow: hidden;
} */

/* Fim das definições gerais */

.button-menu {
    display: none;
}

/* Estilizando menu lateral */
aside {
    position: absolute;
    width: 17%;
    height: 100%;
    background-color: var(--primarycolor);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgb(100, 100, 111) 0px 7px 29px 0px;
}

.aside-container {
    width: 85%;
    height: 100%;
    max-height: 900px;
    padding: 30px 2% 80px 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 35px;
}

.perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img-perfil {
    width: 70px;
    height: 70px;
    background-color: var(--fontcolor);
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%;
    border: 4px solid #ffffff;
}

.nome-perfil {
    width: 100%;
    max-width: 250px;
    padding: 7px;
    background: var(--fontcolor);
    border-radius: 10px;
    text-align: center;
}

.nome-perfil>p {
    color: var(--primarycolor);
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.nav-item>h2 {
    text-transform: uppercase;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
}

li {
    font-size: 17px;
}

li>a {
    letter-spacing: 2px;
}

.btn-home {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.btn-home>button {
    background: none;
    border: 0;
    cursor: pointer;
}

button>img {
    width: 30px;
}

/* Fim do menu lateral */

/* Estilizando página de notícias */
.container {
    width: 83%;
    left: 17%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 19px 2%;
}

.estatistica-box {
    width: 100%;
    height: calc(100vh - 38px);
    background-color: var(--primarycolor);
    padding: 30px 2%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.center1 {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.stats-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.list-stats {
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: end;
}

.list-stats-item {
    width: 170px;
    padding: 3px 0 3px 7px;
    border-radius: 10px;
    background: var(--fontcolor);
}

.list-stats-item>label {
    color: var(--primarycolor);
    font-size: 13px;
}

select {
    background: none;
    border: 0;
    color: var(--primarycolor);
}

option {
    color: var(--primarycolor);
}

.stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stats-box {
    width: 30%;
    background: var(--fontcolor);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    line-height: 40px;
}

.stats-box>p {
    color: var(--primarycolor);
}

.stats-box p:nth-child(2) {
    color: var(--colorstats);
    font-weight: bold;
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.info-acesso {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-acesso p {
    font-weight: bold;
}

.ip {
    width: 30%;
    padding: 19px 12px 19px 12px;
    border-radius: 7px;
    background: var(--colorstats);
    text-align: center;
}

.data {
    padding: 19px 12px 19px 12px;
    width: 30%;
    background: var(--colorstats);
    text-align: center;
    border-radius: 7px;
}

.acesso {
    padding: 19px 12px 19px 12px;
    width: 30%;
    background: var(--colorstats);
    text-align: center;
    border-radius: 7px;
}

/* fim da página de noticías */

@media (width <=969px) {

    /* Deixando o menu lateral responsivo */
    aside {
        width: 0px;
        display: block;
        position: fixed;
        z-index: 1000;
        transition: .5s;
        visibility: hidden;
        overflow-y: hidden;
        left: 0;
    }

    .aside-container {
        height: 95%;
        width: 100%;
        padding: 30px 2% 70px 2%;
        margin-top: 26px;
    }

    .btn-home {
        bottom: 50px;
        left: 12px;
    }

    /* Deixando página de notícias responsiva */
    .container {
        width: 100%;
        left: 0;
    }

    .info-acesso {
        width: 100%;
    }

    /* Fim da página de noticías responsiva */

    .button-menu {
        display: block;
        position: fixed;
        left: 20px;
        top: 23px;
        z-index: 10000;
    }

    .button-menu button {
        width: 35px;
        height: 35px;
        border-radius: 4px;
        background: none;
        cursor: pointer;
        border: 0;
        background: var(--primarycolor);
        opacity: 0.9;
    }

    .button-menu button>img {
        width: 22px;
    }

    .open {
        width: 100%;
        visibility: visible;
        overflow-y: auto;
    }

    /* Fim do menu lateral responsivo */
}

@media (width <=600px) {

    /* Deixando página de notícias responsiva */
    .container {
        padding: 12px 2%;
    }

    .stats-container {
        margin-top: 20px;
    }

    .info-acesso,
    .stats {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .stats-box {
        width: 95%;
    }

    .info-acesso-item {
        width: 90%;
    }

    .estatistica-box {
        height: auto;
    }

    /* Fim da página de noticías responsiva */
}

@media (height >=1000px) {
    .estatistica-box {
        height: auto;
    }
}

@media (height <=850px) {
    .estatistica-box {
        height: auto;
    }
}

@media (height <=599px) {
    aside {
        height: 100vw;
    }
}
